body{
    margin: 0;
    padding: 0;
    width: 100%;
    height: 100vh;
    background: url(../img/1.jpg) 50% 50% no-repeat;
    background-size: cover;
    display: table;
}

.container {
    margin-top: 120px;
    background-color: black;
    opacity: 0.9;
    
    
}

h1 {
    color: white;
    font-family: ;
    font-weight: 300;
    font-size: 500%;
    font-family: 'Anton', sans-serif;
    text-transform: uppercase;
    margin-bottom: 0;
    text-align: center;
}

table {
    font-size: 15px;
    color: white;
    text-align: left;
    border-collapse: collapse;
    font-family: 'Cabin', sans-serif;
    
}

th, td {
    padding: 10px;
    
}

thead {
    background-color: #246355;
    border-bottom: solid 5px #0F362D;
    color: white;   
}

tr:nth-child(even){
    background-color: #737372;
}

tr:hover td{
    background-color: #369681;
    color: white;
}

@media(max-width: 768px) {
    h1 {
        font-size: 200%;
    }
    
    table {
        font-size: 45%;
    }
    
}
