{% load staticfiles  %}
<!DOCTYPE html>
<html lang="en">
<head>
	<title>Sistema de empleados</title>

	{% block css %}
	<!--CONEXIÓN A CSS YA HECHA-->
	<link  href="{% static 'assets/css/diseño.css' %}" rel="stylesheet">
	{% endblock %}
	
	<link href="https://fonts.googleapis.com/css?family=Anton|Cabin" rel="stylesheet">
</head>

<body>
		<center><div class="container">
		
		 <h1>Empleados</h1>
		 
		  {% block main %}
			{% endblock %}
		
		
            </div></center>
</body>
</html>