{% extends "index.html" %}
{% load staticfiles %}


{% block main %}
<div>
	<table border="2">
		<thead>
		<th>
		DUI:
		</th>
		<th>
        Apellidos: 
		</th>
		<th>
		Nombres:
		</th>
        <th>
        Cargo: 
		</th>
        <th>
        Sueldo ($): 
		</th>
		<th>
			AFP ($):
		</th>
		<th>
			ISSS ($):
		</th>
		<th>
			ISR ($):
		</th>
		<th>
			Descuento total ($):
		</th>
		<th>
			Sueldo neto ($):
		</th>
		</thead>
		
		<tbody>
		{% for employee in empleados %}
	<tr>
	 <td>{{employee.dui}}</td>
	 <td>{{employee.apellidos}}</td>
	<td>{{employee.nombres}}</td>
    <td>{{employee.puesto}}</td>
    <td>{{employee.sueldo}}</td>
	<td>{{employee.afp}}</td>
	<td>{{employee.isss}}</td>
	<td>{{employee.isr}}</td>
	<td>{{employee.td}}</td>
	<td>{{employee.sn}}</td>
       
		
</tr>	
	{%endfor%}

		</tbody>
	</table>
</div>




{% endblock %}